<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.hpc.its.area.dao.mapper.StandardAreaMapper">

	<resultMap id="BaseResultMap" type="standardArea">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="CHAR" />
		<result column="ip" property="ip" jdbcType="CHAR" />
		<result column="port" property="port" jdbcType="INTEGER" />
		<result column="width" property="width" jdbcType="BIGINT" />
		<result column="length" property="length" jdbcType="BIGINT" />
		<result column="roadNum" property="roadNum" jdbcType="INTEGER" />
		<result column="crossNum" property="crossNum" jdbcType="INTEGER" />
		<result column="lightNum" property="lightNum" jdbcType="INTEGER" />
	</resultMap>

	<insert id="insertArea" parameterType="standardArea">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			select
			LAST_INSERT_ID()
		</selectKey>
		insert into StandardArea
		(id, name, ip, port,
		width, length, roadNum,
		crossNum, lightNum)
		values
		(#{id,jdbcType=BIGINT},
		#{name,jdbcType=CHAR}, #{ip,jdbcType=CHAR},
		#{port,jdbcType=INTEGER},
		#{width,jdbcType=DOUBLE},
		#{length,jdbcType=DOUBLE},
		#{roadNum,jdbcType=INTEGER},
		#{crossNum,jdbcType=INTEGER},
		#{lightNum,jdbcType=INTEGER})
	</insert>
	<select id="selectAreaByName" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select id, name, ip, port, width, length, roadNum, crossNum, lightNum 
		from StandardArea
		where name=#{name}
	</select>
</mapper>