<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.hpc.its.area.dao.mapper.StandardLaneMapper">

	<resultMap id="BaseResultMap" type="standardLane">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="realityLength" property="realityLength" jdbcType="DOUBLE" />
		<result column="realityWidth" property="realityWidth" jdbcType="DOUBLE" />
		<result column="number" property="number" jdbcType="INTEGER" />
		<association property="standardRoad" javaType="standardRoad">
			<id column="standardRoad" property="id" jdbcType="BIGINT" />
		</association>
	</resultMap>

	<sql id="Base_Column_List">
		id, realityLength, realityWidth, number, standardRoad
	</sql>

	<insert id="insertLane" parameterType="standardLane">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			select
			LAST_INSERT_ID()
		</selectKey>
		insert into StandardLane
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="realityLength != null">
				realityLength,
			</if>
			<if test="realityWidth != null">
				realityWidth,
			</if>
			<if test="number != null">
				number,
			</if>
			<if test="standardRoad != null">
				standardRoad,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="realityLength != null">
				#{realityLength,jdbcType=DOUBLE},
			</if>
			<if test="realityWidth != null">
				#{realityWidth,jdbcType=DOUBLE},
			</if>
			<if test="number != null">
				#{number,jdbcType=INTEGER},
			</if>
			<if test="standardRoad != null">
				#{standardRoad.id,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>



	<select id="selectStandardLanes" parameterType="long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"></include>
		from StandardLane
		where StandardRoad=#{id}
	</select>
</mapper>