<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.hpc.its.area.dao.mapper.StandardRoadMapper">

	<resultMap id="BaseResultMap" type="standardRoad" >
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="horizontalNum" property="horizontalNum" jdbcType="INTEGER" />
		<result column="ordinateNum" property="ordinateNum" jdbcType="INTEGER" />
		<result column="horizontal" property="horizontal" jdbcType="BIT" />
		<result column="open" property="open" jdbcType="BIT" />
		<result column="realityLength" property="realityLength" jdbcType="DOUBLE" />
		<result column="realityWidth" property="realityWidth" jdbcType="DOUBLE" />
	</resultMap>
  
    <sql id="Base_Column_List" >
    id, horizontalNum, ordinateNum, horizontal, open, realityLength
  </sql>
  
	<insert id="insertRoad" parameterType="standardRoad">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			select
			LAST_INSERT_ID()
		</selectKey>
    insert into StandardRoad
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="horizontalNum != null" >
        horizontalNum,
      </if>
      <if test="ordinateNum != null" >
        ordinateNum,
      </if>
      <if test="horizontal != null" >
        horizontal,
      </if>
      <if test="open != null" >
        open,
      </if>
      <if test="realityLength != null" >
        realityLength,
      </if>
      <if test="oneCross != null" >
        oneCross,
      </if>
      <if test="otherCross != null" >
        otherCross,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="horizontalNum != null" >
        #{horizontalNum,jdbcType=INTEGER},
      </if>
      <if test="ordinateNum != null" >
        #{ordinateNum,jdbcType=INTEGER},
      </if>
      <if test="horizontal != null" >
        #{horizontal,jdbcType=BIT},
      </if>
      <if test="open != null" >
        #{open,jdbcType=BIT},
      </if>
      <if test="realityLength != null" >
        #{realityLength,jdbcType=DOUBLE},
      </if>
      <if test="oneCross != null" >
        #{oneCross.id,jdbcType=BIGINT},
      </if>
      <if test="otherCross != null" >
        #{otherCross.id,jdbcType=BIGINT},
      </if>
    </trim>
	</insert>
	<select id="selectStandardCrosses" parameterType="long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"></include>
		from StandardRoad
		where oneCross=#{id} or otherCross=#{id}
	</select>
</mapper>